In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

from glob import glob
from datetime import datetime, timedelta

Let's get all the files from seattle folder

In [9]:
list_of_files = glob('./seattle/*.csv')

In [10]:
list_of_files

['./seattle/reviews.csv', './seattle/listings.csv', './seattle/calendar.csv']

Now let us put all the files into pandas dataframes and see what we can do with them

In [12]:
r_df = pd.read_csv(list_of_files[0]) #Reviews data
l_df = pd.read_csv(list_of_files[1]) #Listing data
c_df = pd.read_csv(list_of_files[2]) #Calendar data

### Exploring Review Data

In [13]:
r_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

Not sure we will use this data all during this analysis, it might come in handy in future explorations. For now data like when the review was posted and what is being said by Customers about rental experience

### Exploring Calendar Data

In [15]:
c_df.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [16]:
c_df.isnull().sum()

listing_id         0
date               0
available          0
price         459028
dtype: int64

In [17]:
c_df.shape

(1393570, 4)